In [4]:
print("Hello Caption American")

Hello Caption American

Python hello world

In [5]:
print("hello eny")

hello eny

In [6]:
print("hello" , "world", "this is first pro")
print()
print("Welcome to devnet")
print()
print("May 2023")

hello world this is first pro

Welcome to devnet

May 2023

In [8]:
print("1", "2", "3", "4")
print("1", "2", "3", "4", sep="->", end=";")
print(5, 6, 7, 8, sep="==>")

1 2 3 4
1->2->3->4;5==>6==>7==>8

In [1]:
name = input("Enter your name: ")

In [2]:
print("Welcome", name)

Welcome Tuan

In [3]:
birth_year=input("Enter Your BirthYear: ")

In [6]:
age = 2023 - int(birth_year)
print(name, "is", age, "years old")

Tuan is 33 years old

Basic data types

In [7]:
type('1')

str

In [8]:
type(0.1)

float

In [9]:
a=1
b='2'

In [10]:
a

1

In [11]:
a+int(b)

3

In [12]:
str(a)+b

'12'

In [13]:
1+2
10-5
2*3
10/2
10//3
10%3
2**3

8

In [14]:
10%3

1

In [15]:
10//3

3

In [ ]:
my_router_name='router1'

In [ ]:
user_name=input('Enter Your Name')

In [ ]:
user_birth_year =input('Enter your birth year')

In [16]:
myRouterHostname='router2'

In [17]:
a=1

In [18]:
a='123456'

In [19]:
type(a)

str

In [20]:
a=10.2

In [21]:
type(a)

float

In [23]:
a=100
a=a+25
print(a)
a=a*2
print(a)

125
250

In [29]:
a=250
a+=50
print(a)
a/=5
print(a)
a**=2 #a = a^2
print(a)
b=600
a-=b #a=a-b
print(a)

300
60.0
3600.0
3000.0

In [ ]:
my_first_string="I am a online string"
print(my_first_string)

In [30]:
my_second_string="""have
das
dads
dasda
"""
print(my_second_string)

have
das
dads
dasda

In [32]:
ospf_configuration="""router ospf
router-id 1.1.1.1
area 0
interface xxx
"""
print(ospf_configuration)

router ospf
router-id 1.1.1.1
area 0
interface xxx

In [37]:
ospf_configuration_2='router ospf\nrouter-id 1.1.1.1\narea0'
print(ospf_configuration_2)

router ospf
router-id 1.1.1.1
area0

In [36]:
ospf_configuration_3='router ospf\trouter-id 1.1.1.1\tarea0'
print(ospf_configuration_3)

router ospf	router-id 1.1.1.1	area0

In [1]:
config1='router ospf\n'
config2='router-id 1.1.1.1\n'
config3='area 0\n'
config4='interface fxp0'
config=config1+config2+config3+config4
print(config)

router ospf
router-id 1.1.1.1
area 0
interface fxp0

In [3]:
print('^!^'*1)
print('^!^'*2)
print('^!^'*3)
print('^!^'*4)
print('^!^'*5)

^!^
^!^^!^
^!^^!^^!^
^!^^!^^!^^!^
^!^^!^^!^^!^^!^

In [5]:
str1='123456'
print(len(str1))
str2='123456\n'
print(len(str2))

6
7

In [11]:
ip_1='192.168.10.1'
print(ip_1)
octets_1=ip_1.split('.')
print(octets_1)
print(octets_1[0])
print(octets_1[1])
print(octets_1[2])
print(octets_1[3])
type(octets_1[1])
print('.'.join(octets_1))

192.168.10.1
['192', '168', '10', '1']
192
168
10
1
192.168.10.1

In [13]:
default_gateway_ip='192.168.1.1'
output=f"Default gateway is {default_gateway_ip}"
print(output)

Default gateway is 192.168.1.1

In [16]:
name="john"
age=30
company="IBM"
intro="My name is {}, i'm 30 years {}, i'm working at {}".format(name,age,company)
print(intro)

My name is john, i'm 30 years 30, i'm working at IBM

In [17]:
print('i\'m learning python')

i'm learning python

In [18]:
print("i'm learning python")

i'm learning python

In [20]:
print("\"I'm\"")
print("\"\"learning\"\"")
print("\"\"\"python\"\"\"")

"I'm"
""learning""
"""python"""

In [21]:
2>1

True

In [22]:
1==2

False

In [23]:
1!=2

True

In [1]:
age=input("Enter number: ")
is_adult = int(age)>=18
print(is_adult)

True

In [2]:
my_string=''
if my_string:
    print("TRUE")   #if my_string != ''
else:
    print("FALSE")

FALSE

In [4]:
number=input("number")
if int(number)%2:
    print("odd")   #if number %2 != 0
else:
    print("even")

even

In [7]:
name=input("name")
if name:
    print("hello ", name)   
else:
    print("Caution!")

hello  lan

loop

In [8]:
my_string ="abcdef12345678"
for letter in my_string:
    print(letter)

a
b
c
d
e
f
1
2
3
4
5
6
7
8

In [10]:
for i in range(10):   #range(10) == range(0,10,1)
    print(i)

0
1
2
3
4
5
6
7
8
9

In [11]:
for i in range(12):
    if not (i%2):
        print(i)

0
2
4
6
8
10

In [12]:
for i in range(100,200,20):
    print(i)

100
120
140
160
180

In [13]:
i=0
while (i<10):
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [14]:
i=0
while (i>-10):
    print(i)
    i-=2

0
-2
-4
-6
-8